---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'cabin-font';

$colour-aqua: #20AB94;
$colour-green: #17CA11;
$colour-blue: #1C8BF4;
$colour-purple: #202C88;
$colour-red: #EA1535;
$colour-yellow: #FFC238;

$viridis-1: #48085F;
$viridis-2: #345E8E;
$viridis-3: #228E8E;
$viridis-4: #53C669;
$viridis-5: #F5EC4D;

body {
  animation: colorchange 50s infinite;
  animation-direction: alternate;
  -webkit-animation: colorchange 50s infinite;
  -webkit-animation-direction: alternate;
}

@keyframes colorchange {
  0%    {background: $viridis-1;}
  25%   {background: $viridis-2;}
  50%   {background: $viridis-3;}
  75%   {background: $viridis-4;}
  100%  {background: $viridis-5;}
}

@-webkit-keyframes colorchange {
  0%    {background: $viridis-1;}
  25%   {background: $viridis-2;}
  50%   {background: $viridis-3;}
  75%   {background: $viridis-4;}
  100%  {background: $viridis-5;}
}

@keyframes textcolorchange {
  0%    {color: $viridis-1;}
  25%   {color: $viridis-2;}
  50%   {color: $viridis-3;}
  75%   {color: $viridis-4;}
  100%  {color: $viridis-5;}
}

@-webkit-keyframes textcolorchange {
  0%    {color: $viridis-1;}
  25%   {color: $viridis-2;}
  50%   {color: $viridis-3;}
  75%   {color: $viridis-4;}
  100%  {color: $viridis-5;}
}

h1 {
  color: white;
  font-family: 'Cabin';
  font-size: 14em;
  text-transform: uppercase;
  line-height: 0.8em;
  letter-spacing: -0.08em;
  margin-bottom: 0;
}

h2 {
  font-family: 'Cabin';
  font-size: 3em;
  color: white;
  font-weight: 300;
  margin-left: 2em;
  margin-top: 0;
  margin-bottom: 0;
}

#shifting-background {
  user-select: none;
  word-wrap: break-word;
  overflow: hidden;
  font-family: 'Cabin';
  z-index: -1;
  position: fixed;
  top: -50px;
  bottom: -50px;
  left: -50px;
  right: -50px;

  span {
    animation: textcolorchange 50s infinite;
    animation-direction: alternate;
    -webkit-animation: textcolorchange 50s infinite;
    -webkit-animation-direction: alternate;
    position: fixed;
    width: 110%;
    height: 110%;
    line-height: 0.6em;
  }
}
